#gameDiv{
    font-family: 'Brush Script MI',cursive;
    border: 3px solid;
    border-radius: 25px;
    padding: 10px;
    background-color: lightgray;
    text-align: center;
}
.choiceBtn{
    line-height: 30px;
    width: 150px;

}
#playerText{
    color: blue;
}
#computerText{
    color: red;
}